body {
    width: 100%;
    background-image:url('../img/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

#text{
    margin-top: 7px;
}
#button{
    margin-top: 10px;
    margin-bottom: 7px;
}
.fullscreen{
    top:0;
    left:0;
    width: 100%;
}
#draggable { 
    width: 150px; 
    height: 150px; 
    padding: 0.5em; 
}
h1 { 
    text-align:center; 
    margin-top:10px; 
}
#chk, #input-email{
    display: none;
  }
  
label[for="chk"]::before{
    content: "⊡"; font-size: 2em; 
}
#chk:checked~.form-group label[for="chk"]::before{
    content:"⊠"
}
  
#chk:checked~.form-group #input-email {
display: inline-block;
}