<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <title>Главная страница</title>
      
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link href="../static/css/navbar.css" rel="stylesheet">
        <link href="../static/css/index.css" rel="stylesheet">

        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
        <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
        <script>
        $( function() {
            $( "#draggable" ).draggable();
        } );
        </script>

    </head>
    <body>
      <nav class="navbar navbar-light border-bottom">
        <div class="container-fluid">
          <a class="navbar-brand" href="index.html" style="color: #ff2e2e;">Московская биржа</a>
          <a href="#" class="ms-auto"><i class="fa-solid fa-basket-shopping" style="color: #ff2e2e;"></i></a>
          <a href="authorization.html" class="bg-danger rounded-pill ms-3 px-2" style="color: #ffffff;">Вход</a>
          <button class="bg-dark rounded-circle ms-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Переключатель навигации">
            <i class="fa-solid fa-bars" style="color: #ffffff;"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Новости</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">События</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">...</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <script src="https://kit.fontawesome.com/9b9ea2d9ab.js" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script></body>
      <!-- <script src="../static/drag.js"></script> -->
      <div class="container text-center mx-auto" style="max-width: 350px;">
        <div id="draggable" class="ui-widget-content">
          <p>Drug me around</p>
        </div>
        <ul class="task-list" style="list-style-type: none;">
          <li class="draggable" id='0' draggable="true">
            <div class="container>">
                <div class="column">
                    <div class="row">
                        стоимость 
                    </div>
                    <div class="row">
                        <img class="img-fluid" src="../static/img/mem1.jpeg" alt="">
                    </div>
                </div>
            </div>
          </li>
          <li class="draggable" id='1' draggable="true">
            <div class="container>">
                <div class="column">
                    <div class="row">
                        данные о бумаге
                    </div>
                    <div class="row">
                        <img class="img-fluid" src="../static/img/mem1.jpeg" alt="">
                    </div>
                </div>
            </div>
          </li>
          <li class="draggable" id='2' draggable="true">
            <img class="img-fluid" src="../static/img/ava.jpg" alt="">
          </li>
          <li class="draggable" id='3' draggable="true">
            <img class="img-fluid" src="../static/img/mem3.png" alt="">
          </li>
          <li class="draggable" id='4' draggable="true">
            <img class="img-fluid" src="../static/img/mem5.jpeg" alt="">
          </li>
        </ul>
      </div>
      <script>
        var btn = document.querySelector('.add');
        var remove = document.querySelector('.draggable');
        
        function dragStart(e) {
          dragSrcEl = this;
          e.dataTransfer.effectAllowed = 'move';
          e.dataTransfer.setData('text/html', this.innerHTML);
        };
        
        function dragEnter(e) {
          this.classList.add('over');
        }
        
        function dragLeave(e) {
          e.stopPropagation();
          this.classList.remove('over');
        }
        
        function dragOver(e) {
          e.preventDefault();
          e.dataTransfer.dropEffect = 'move';
          return false;
        }
        
        function dragDrop(e) {
          if (dragSrcEl != this) {
            dragSrcEl.innerHTML = this.innerHTML;
            this.innerHTML = e.dataTransfer.getData('text/html');
          }
          return false;
        }
        
        function dragEnd(e) {
          var listItens = document.querySelectorAll('.draggable');
          [].forEach.call(listItens, function(item) {
            item.classList.remove('over');
          });
        }
        
        function addEventsDragAndDrop(el) {
          el.addEventListener('dragstart', dragStart, false);
          el.addEventListener('dragenter', dragEnter, false);
          el.addEventListener('dragover', dragOver, false);
          el.addEventListener('dragleave', dragLeave, false);
          el.addEventListener('drop', dragDrop, false);
          el.addEventListener('dragend', dragEnd, false);
        }
        
        var listItens = document.querySelectorAll('.draggable');
        [].forEach.call(listItens, function(item) {
          addEventsDragAndDrop(item);
        });
        
        function addNewItem() {
          var newItem = document.querySelector('.input').value;
          if (newItem != '') {
            document.querySelector('.input').value = '';
            var li = document.createElement('li');
            var attr = document.createAttribute('draggable');
            var ul = document.querySelector('ul');
            li.className = 'draggable';
            attr.value = 'true';
            li.setAttributeNode(attr);
            li.appendChild(document.createTextNode(newItem));
            ul.appendChild(li);
            addEventsDragAndDrop(li);
          }
        }
        
        btn.addEventListener('click', addNewItem);
      </script>
    </body>
</html>